* {
  font-family: 'jura';
}

body {
  color: white;
  background-color: black;
}
.h1 {
  text-align: center;
  margin: 50px 30px;
  font-family: 'jura';
}
.h2 {
  margin: 0;
  height: 36px;
  background-color: rgb(92, 16, 16);
  font-family: 'jura';
  margin: 0 0 10px 0;
  vertical-align: calc();
  border-radius: 5px;

}
.prevIcon {
  color: black;
  background-color: white;
  margin-top: 3px;
  border-radius: 5px;
}
.editor {
 background-color: rgb(16, 16, 27);
 border: 5xp solid gold;
}
.previewer {
background-color: rgb(16, 16, 27);
border: 5xp solid gold;


}
textarea {
  width: 465px;
  height: 560px;
  resize: vertical;
  background-color: black;
  color: white;
}
.editor-previewer {
  display: grid;
 border-radius: 40px;
  grid-template-columns: 500px 900px;
  justify-content: center;
  column-gap: 20px;
}

.insidePreviewer {
 border-radius: 10px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Styles for the code blocks */
pre {
  background-color: #000000; /* Change this to your desired background color */
  margin: 15px 10px;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

pre code {
  display: block;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.editor {
  width: 480px;
  height: 80vh;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow-y: auto;
  white-space: pre-wrap; /* Preserve whitespace formatting */
}